
table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 5px;
}

th {
    padding: 5px;
    height: 30px;
    text-align: center;
    background-color: #800000;
    color: white;
    border: 1px solid black;
    position: sticky;
    top: 0;
}
  

input {
    padding:2px;  
    border: none;
    outline-width: 0;
}

.error{
    background-color: red;
    font-weight: 500;
    color: white;
}

.pending{
    background-color: #ddd;
    font-weight: normal;
    color: black;
}

.read-only{
    background-color: #ddd;
    font-weight: normal;
    color: #555;
    font-size: .8rem;
    padding:2px;  
}

.message{
    background-color: #ddd;
    font-weight: 500;
    color: black;
    text-align: center;
    padding:1rem;

}

#exception{
    margin: 1rem;
    padding:1rem;
    background-color: rgb(200, 0, 0);
    color:white;
    font-weight: 500;
    display:none
}

.grade{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.overall{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.search-input {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

#data{
    overflow-x: scroll;
}

 #data-table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.container p{
    font-size: 20px;
    font-weight: bolder;
}

.container td{
    padding: 5px;
}

.container thead{
    font-weight: bold;
    background-color: #800000;
    color: white;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 450px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
/* Style the back side */
.flip-card-back{
    transform: rotateY(180deg);
}

.flip-card-back-bg{
    background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSu_HQf7Sgkij6NptUWlEKf6V9n5bC5cL1JfGFNylGC8VnfN_-N');
    background-size: 300px;
}

.flip-card-text {
    color: white;
    filter: blur(0px);
    backdrop-filter: blur(10px);
    height: 450px;
    padding-top: 25px;
}
